/* variables.css */

/* ------COLORS ------*/
:root {
  /* Primary */
  --color-primary: #eb5440;
  --color-primary-rgb: 235, 84, 64;

  --color-secondary: #4a4b4c;
  --color-secondary-rgb: 74, 75, 76;

  --color-tertiary: #c3c3c3; /* Using #C3C3C3 from style guide and provided variables.css */
  --color-tertiary-rgb: 195, 195, 195;

  /* Text colors */
  --color-text-primary: #000000;
  --color-text-secondary: #4a4b4c;
  --color-text-tertiary: #e8e8e8; /* Updated to match style guide's tertiary text color */

  /* Backgrounds */
  --bg-1: #f6f6f6;
  --bg-2: #ffffff;

  /* Hyperlink */
  --color-hyperlink: #067bc2;
}

/* ------TYPOGRAPHY ------*/
/* Font families */
:root {
  --font-primary: "Montserrat", sans-serif;
  --font-secondary: "Open Sans", sans-serif;
}

/* Font weights */
:root {
  --fw-bold: 700;
  --fw-semibold: 600;
  --fw-medium: 500;
  --fw-regular: 400;
}

/* Font sizes (desktop / mobile) */
:root {
  /* Montserrat Bold */
  --h1-desktop: 32px;
  --h1-mobile: 18px;
  --h2-desktop: 22px;
  --h2-mobile: 14px;
  --menu-desktop: 18px;
  --button-desktop: 18px;
  --button-mobile: 12px;

  /* Montserrat Semibold */
  --back-button-desktop: 16px;
  --input-title-desktop: 14px;
  --input-title-mobile: 12px;

  /* Montserrat Medium */
  --menu-inactive-desktop: 18px;
  --empty-state-desktop: 18px;
  --empty-state-mobile: 14px;

  /* Montserrat Medium Italic */
  --error-desktop: 14px;
  --error-mobile: 12px;

  /* Open Sans Semibold */
  --listing-desktop: 16px;
  --listing-mobile: 12px;

  /* Open Sans Regular */
  --body-desktop: 18px;
  --body-mobile: 12px;
  --input-desktop: 14px;
  --input-mobile: 12px;
}
